@font-face {
  font-family: "holberton_school-icon";
  src: url("./icons/fonts/holberton_school-icon.eot?sq4eq4");
  src: url("./icons/fonts/holberton_school-icon.eot?sq4eq4#iefix")
      format("embedded-opentype"),
    url("./icons/fonts/holberton_school-icon.ttf?sq4eq4") format("truetype"),
    url("./icons/fonts/holberton_school-icon.woff?sq4eq4") format("woff"),
    url("./icons/fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: "Source sans pro", "Spin Cycle", "holberton_school-icon",
    "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: white;
}

:root {
  --purple: #c271ff;
  --section-padding: 90px 0px;
  --gray: #a9a9a9;
  --dark-blue: #071629;
}

/* ---------- HOMEPAGE ----------  */
/*  HERO SECTION */
.hero-section {
  background-image: url("./images/pic_1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar-brand img {
  height: 2rem;
}

.navbar-brand img:first-child {
  margin-right: 1rem;
}

.navbar a {
  color: #fff !important;
}

.navbar a:hover {
  opacity: 0.9 !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-dark .navbar-toggler {
  border: none !important;
}

.hero-title {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 5rem auto -1rem;
}

.btn {
  background-color: var(--purple) !important;
}

.small-title {
  margin-top: 10rem;
}

.small-title span {
  color: var(--purple);
}

.testimonials {
  margin-top: 5rem;
}

.testimonials img {
  width: 125px;
  height: 125px;
}

/*  QUOTES SECTION */
.quotes-section {
  background-color: var(--purple);
  padding: var(--section-padding);
}

.quotes-section img {
  width: 125px;
  height: 125px;
}

.carousel-item {
  padding-right: 100px;
  padding-left: 100px;
}

/* TUTORIALS SECTION */
.tutorials-section {
  padding: var(--section-padding);
}

.section-title span {
  color: var(--purple);
}

.carousel-videos {
  margin-top: 5rem;
}

.card {
  margin-right: 1rem;
  margin-left: 1rem;
}

.play-image {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 50px;
  left: 40%;
}

.teacher img {
  width: 30px;
  height: 30px;
}

.teacher p {
  color: var(--purple);
}

.reviews img {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}

.reviews p {
  color: var(--purple);
  margin-left: auto;
}

.tutorials-section .carousel-control-prev,
.tutorials-section .carousel-control-next {
  background-color: var(--gray);
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5rem;
  margin-left: 5rem;
}

/* MEMBERSHIP SECTION */
.membership-section {
  background-color: var(--dark-blue);
  padding: var(--section-padding);
}

.membership-cards-container {
  margin-top: 5rem;
}

.card-membership {
  background-color: var(--dark-blue) !important;
  margin-bottom: 3rem;
}

.card-membership img {
  width: 70px;
  height: 70px;
}
